
#body{
    height: 100%; 
    width: 100%;
}

#wrapper {
  margin-left:auto;
  margin-right:auto;
  width:1200px;
}

#cy {
        width: 70em;
        height: 25em;
        position: relative;
        top: 5%;
        left: 5%;
    }
  